<?xml version="1.0" encoding="us-ascii"?>
<Settings ProjectName="lb">
	<DefaultUsers>
		<User Name="dbLb" />
	</DefaultUsers>
<!-- String replacements are case-sensitive. -->
	<!--StringReplacements>
		<String Original="String 1" Replacement="Replacement text 1"/>
		<String Original="String 2" Replacement="Replacement text 2"/>
	</StringReplacements-->
</Settings>